# any git repo in subfolders
**/.git/

# log files
*.log

# system/editor stuff
.kate-swp
.DS_Store

## virtualbox / vagrant boxes
.vagrant
*.box
*.vbox
*.ovf
*.ova
*.iso
*.img
*.utf

# ansible
playbook.retry
test.retry

# vagrant
.vagrant

# ansible-filter-vault
*.pyc
vault.key
vault.pass

